<h1>Customers</h1>

<div id="customer" class="mx-auto">
<table style="text-align:center; width: 100%; border: 1px solid black; border-collapse: collapse;">
  <thead>
    <tr>
      <th style="border: 1px solid black;">Customer Full Name</th>
      <th style="border: 1px solid black;">Number of Orders</th>
      <th style="border: 1px solid black;" colspan="3">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @customers.each do |customer| %>
      <tr style="border: 1px solid black;">
        <td  style="border: 1px solid black;">
          <%=customer.full_name%>
        </td>
        <td  style="border: 1px solid black;">
          <%=customer.orders.count%>
        </td>
        <td>
          <%= link_to "Show", customer, class:"btn btn-primary"%> 
        </td>
        <td>
          <%= link_to "Edit", edit_customer_path(customer), class:"btn btn-primary" %>
        </td>
        <td>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal-<%= customer.id%>">Delete</button> 
        </td>
      </tr>
    <%= render partial: 'deleteModal', locals: { customer: customer } %>
    <% end %>
  <tbody>
</table>
</div>  

<br>

<p><%= link_to "New customer", new_customer_path, class:"btn btn-primary" %></p>
<p><%= link_to "All orders", orders_path, class:"btn btn-primary"  %></p>


